@import '../../../__css__/theme.css';

.button {
  padding: 10px;
  border-radius: 10px;
  opacity: 0.5;
  background: var(--col-button-bg);
  color: var(--col-button-text);
  margin: 0 10px;
  outline: none;
  transition: opacity 250ms ease-out;

  &:hover {
    opacity: 0.75;
    cursor: pointer;
  }

  &.selected {
    opacity: 1;
  }

}
