@import '../../../__css__/theme.css';

.day {
  display: flex;
  flex-direction: column;
}

.date {
  padding: 5px;
  background: var(--col-day-row-head-bg);
  color: var(--col-day-row-head-text);
}

.periods {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  background: var(--col-day-row-bg);
}
