@import '../../../__css__/theme.css';

.form {
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: flex-end;
}

.csvText {
  height: 100px;
  flex-grow: 1;
}

.submit {
  margin-left: 10px;
  flex-grow: 0;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.5;
  background: var(--col-submit-button-bg);
  color: var(--col-submit-button-text);
  margin: 0 10px;
  outline: none;
  transition: opacity 250ms ease-out;

  &:hover {
    opacity: 0.75;
    cursor: pointer;
  }

}

