
:root {
  --col-loading: rgba(150,255,150,0.5);

  --col-button-bg: blue;
  --col-button-text: white;

  --col-submit-button-bg: grey;
  --col-submit-button-text: white;

  --col-day-row-head-bg: darkgray;
  --col-day-row-bg: lightgray;

  --col-day-row-head-text: white;
}
